body {
  background-color: white;
  font-size: 14px;
  font-weight: 400;
}

.hero-container {
  background: url("/istockphoto-1175450445-612x612.jpg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 97vh;
  position: relative;
}
.hero-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero-container .header {
  background-color: rgba(0, 0, 0, 0.09);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.hero-container .header.active {
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-container .header .nav-bar {
  height: 6rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.hero-container .header .nav-bar .logo img {
  width: 50px;
  cursor: pointer;
}
.hero-container .header .nav-bar .link {
  display: flex;
  list-style: none;
  padding: 0 0.7rem;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  background: transparent;
}
.hero-container .header .nav-bar .link li {
  position: relative;
}
.hero-container .header .nav-bar .link li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.hero-container .header .nav-bar .link li a:hover {
  color: #bcd8df;
}
.hero-container .header .nav-bar .link li a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #3d4d52;
  position: absolute;
  transition: all ease-in-out 250ms;
}
.hero-container .header .nav-bar .link .link li a:hover::before {
  width: 80%;
}
.hero-container .header .nav-bar .link .book {
  color: #ffffff;
  background-color: #f5626e;
  border: 1px solid #f5626e;
  padding: 0.45rem 0.8rem;
  font-size: 0.875rem;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}
.hero-container .header .nav-bar .link .book:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.hero-container .hero-contents {
  padding: 7rem 1rem 1rem;
  position: relative;
  z-index: 11;
}
.hero-container .hero-contents .hero-intro-sec {
  color: #fcfcfc;
  margin-left: 5rem;
}
.hero-container .filter-button {
  display: block;
  text-align: center;
  margin: -1.15rem auto;
  position: relative;
  border-radius: 20px;
  padding: 5px 21px;
}
.hero-container #val {
  vertical-align: text-top;
}
.hero-container .headerft {
  border: 1px solid red;
}

.form {
  background-color: #fff;
  margin: 2.75rem 0.5rem;
  padding: 0.5rem;
}
.form h5 {
  max-width: 50%;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 991px) {
  .form h5 {
    max-width: 90%;
  }
}
.form .back-home-btn {
  background-color: #d35429;
}

.img-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(38.01, 100%, 50.78%);
}

.img2-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(11.67, 87.8%, 67.84%);
}

.img3-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(322, 45.45%, 61.18%);
}

.img4-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(174.19, 84.55%, 43.14%);
}

.img5-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(29.78, 83.03%, 67.65%);
}

.img6-btn {
  display: block;
  margin: -1.15rem 17rem;
  position: relative;
  border-radius: 20px;
  padding: 4px 10px;
  background: hsl(153.2, 53.93%, 62.55%);
}

.grid .container2 {
  background: blue;
  height: 100vh;
  width: 100%;
}
.grid .container2 .item item1 {
  background: green;
  display: grid;
  grid-template-columns: 150px 200px;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../istockphoto-483048773-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .ft-content {
  max-width: 800px;
  margin: 0 auto;
}
footer .ft-content .ft-logo {
  width: 50px;
  margin: 30px;
}
footer .ft-content .list-unstyled li:before {
  content: ">";
  margin-right: 5px;
  color: #999;
}

.form-range {
  width: 90%;
  margin: 2px;
}/*# sourceMappingURL=style.css.map */